@model LibraryManager.ViewModels.Admin.BooksVM
@using LibraryManager.Entities

@{
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["Title"] = "Home Page ";
}

<h2>
    <button> <a asp-controller="Admin" asp-action="AddBook">Add Book</a> </button>
</h2>
@foreach (Book book in Model.Books)
{
    <br />
    <div class="row">
        <div class="col-3">
            <h3>@book.Title</h3>
        </div>
        <div class="col-3">
            <label>Genre: </label>
            @book.Genre.Name
        </div>
        <div class="col-3">
            <label>Author: </label>
            @string.Join(" ", book.BookAuthors.Where(x => x.BookId == book.Id).Select(x => x.Author.Name).ToList())
        </div>
        <div class="col-3">
            <label>On Stock</label>
            @book.OnStock
        </div>
        <div class="col-3">
            <a asp-action="Edit" asp-controller="Admin" asp-route-id="@book.Id">Edit</a>
            <a asp-action="Delete" asp-controller="Admin">Delete</a>
        </div>


    

    </div>

}
